.dashboard{

    min-height:100vh;

    background:#071321;

    display:flex;

}

.dashboard-content{

    flex:1;

    margin-left:350px;

    padding:40px 50px;

    min-width:0;

}

.dashboard-grid{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:30px;

    margin-top:30px;

}

@media(max-width:1500px){

    .dashboard-grid{

        grid-template-columns:1fr;

    }

}

@media(max-width:1200px){

    .dashboard-content{

        margin-left:0;

        padding:25px;

    }

}