.forgot-page{

    position:relative;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:hidden;

    background:#071321;

}

.forgot-background{

    position:absolute;

    inset:0;

    background:
    radial-gradient(circle at 20% 20%,rgba(212,164,74,.10),transparent 35%),
    radial-gradient(circle at 80% 75%,rgba(40,130,255,.12),transparent 35%),
    linear-gradient(180deg,#071321,#06111d);

}

.forgot-card{

    position:relative;

    z-index:10;

    width:560px;

    padding:60px;

    border-radius:32px;

    background:rgba(13,24,40,.82);

    backdrop-filter:blur(30px);

    border:1px solid rgba(255,255,255,.08);

    box-shadow:
    0 40px 120px rgba(0,0,0,.45);

}

.forgot-logo{

    width:180px;

    display:block;

    margin:auto;

    margin-bottom:35px;

}

.forgot-tag{

    display:block;

    color:#d4a44a;

    text-transform:uppercase;

    letter-spacing:4px;

    font-size:13px;

    margin-bottom:15px;

}

.forgot-card h1{

    color:white;

    font-size:48px;

    line-height:55px;

    margin-bottom:20px;

}

.forgot-card p{

    color:#bcc8d8;

    line-height:32px;

    margin-bottom:40px;

}

.forgot-card form{

    display:flex;

    flex-direction:column;

    gap:22px;

}

.forgot-card input{

    height:62px;

    border:none;

    border-radius:18px;

    background:#16263b;

    color:white;

    padding:0 22px;

    font-size:16px;

}

.forgot-card input:focus{

    outline:none;

    border:1px solid #d4a44a;

}

.forgot-card button{

    height:62px;

    border:none;

    border-radius:18px;

    background:#d4a44a;

    color:#071321;

    font-size:18px;

    font-weight:700;

    cursor:pointer;

    transition:.35s;

}

.forgot-card button:hover{

    transform:translateY(-4px);

}

.back-login{

    margin-top:35px;

    text-align:center;

}

.back-login a{

    color:#d4a44a;

    text-decoration:none;

}